#nav {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
}

#nav a {
    display : inline-block;
    margin: 30px 10px 30px 10px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 200px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: rgb(26, 26, 26);
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: 1s;
}

#nav a div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#nav a:hover {
    top: 40%;
}

